@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #080424;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #242444;
}

nav {
    flex: 1;
    text-align: right;
    padding: 10px 25px;
}

.navbar .logo {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: 10px 25px;
}

.navbar .menu-icon {
    color: #fff;
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
}


@media (min-width: 625px) and (max-width: 991px) {
    .navbar {
        flex-direction: column;
    }

    nav {
        text-align: center;
    }

    .navbar .logo {
        padding: 25px 0;
        margin-bottom: -15px;
    }
}


@media (min-width: 200px) and (max-width: 725px) {
    .navbar {
        flex-direction: row;
    }

    nav ul {
        width: 100%;
        background: #242444;
        position: absolute;
        top: 65px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }

    .navbar .menu-icon {
        display: block;
    }
}
