@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    text-decoration: none;
    list-style: none;
    outline: none;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #080424;
    background-image: url("./images/stars.png");
    background-size: cover;
}

.mover-img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

@keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #242444;
    margin-bottom: 35px;
}

nav {
    flex: 1;
    text-align: right;
    padding: 10px;
}

.navbar .logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -2px;
    padding: 0 25px;
    transition: all 0.3s ease;
    -web-kit-transition: all 1s ease;

}

.navbar .logo:hover {
    transform: scale(1.1);
}

.navbar .menu-icon {
    color: #ffffff;
    font-size: 1em;
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
    transition: all 0.6s ease;
}

nav ul li:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
}

nav ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
    background-color: #702cd4;
    border-radius: 71% 30% 70% 30% / 41% 39% 61% 59%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 500px) );
    justify-content: center;
    align-items: center;
}

.container img {
    width: 60%;
    height: auto;
    margin: auto;
}

.container .content {
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.container .content .description {
    margin-bottom: 20px;
}


.container .content .description h1 {
    color: #fff;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0;

}

.container .content .description p {
    color: #b4b4b4;
    font-size: 12px;
}

.container .content .description a {
    color: #b4b4b4;
}

.container .content .description span {
    margin-left: 5px;
    color: #fff;
    text-decoration: underline;
}

.container .content .description i {
    margin-left: 5px;
    color: #fff;
}

.buttons-mobile {
    display: none;
}

.buttons {
    background-color: #080424;
}

.buttons a {
    text-transform: uppercase;
    display: block;
    border: 2px solid #242444;
    padding: 10px;
    margin-bottom: 10px;
    color: #b4b4b4;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.5s ease;
}

.buttons a:hover,
.buttons a:focus,
.buttons a.active {
    background-color: #702cd4;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.buttons span {
    margin-left: 10px;
    color: #fff;
    font-weight: 500;
}

.details-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 20px 250px;
    color: #fff;
}

.details-container .detail-item {
    border: 2px solid #242444;
    padding: 15px 20px;
}

.details-container .detail-item h6 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #b4b4b4;
}

.details-container .detail-item h4 {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}

/***************** RESPONSIVE DESIGN ***********************/

@media (max-width: 999px) {
    .navbar {
        flex-direction: column;
        margin-top: 30px;
    }

    nav {
        flex: 1;
        text-align: center;
    }

    .navbar ul li {
        margin-top: 15px;
    }

    .navbar ul li a {
        font-size: 13px;
        font-weight: 500;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .container img {
        width: 35%;
        height: auto;
    }

    .container .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .container .content .description {
        width: 50%;
    }

    .container .content .description p {
        font-size: 15px;
        font-weight: 400;
    }

    .buttons {
        width: 40%;
    }

    .buttons a {
        font-size: 14px;
        padding: 15px;
    }
}

@media (min-width: 200px) and (max-width: 670px) {
    .navbar {
        flex-direction: row;
        margin-bottom: 0;
    }

    .navbar .menu-icon {
        display: block;
    }

    nav ul {
        background-color: #242444;
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: auto;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid #080424;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    nav ul li:hover {
        background-color: #080424;
    }

    nav ul li:last-child {
        border-bottom: 0;
    }

    .navbar .logo,
    .navbar .menu-icon {
        margin: 15px 0;
        padding: 0 30px;
        font-size: 2em;
        font-weight: 400;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #242444;
        border-top: 1px solid #242444;
        width: 100%;
    }

    .buttons-mobile a {
        color: #b4b4b4;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 15px;
        transition: all 0.3s ease-out;
        border-bottom: 5px solid transparent;
    }

    .buttons-mobile a:hover {
        border-bottom: 5px solid #702cd4;
    }

    .container {
        display: grid;
        grid-template-columns: 1000px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .container img {
        width: 30%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container .content {
        text-align: center;
        margin: auto;
        width: auto;
    }
}

@media (max-width: 492px) {
    .container {
        display: grid;
        grid-template-columns: 600px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}